################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyCoreApp/bin/Debug/net8.0
/.vs/MyCoreApp
/MyCoreApp/obj
/MyCoreApp/Properties